.boxes {
    width: 100px;
    height: 100px;
    border: 5px solid white; 
    background-color: black;
    margin: 0;
    float: left; 
    line-height: 100px;  
   
}

   #number {
       text-align: center;
   }